<!doctype html>
<html ng-app="myNoteApp">
  <head>
    <meta charset="utf-8">
    <title>My note app</title>
	<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
  </head>
  <body>
  <div ng-controller="myNoteCtrl">
	<h2>My Note</h2>
	<p><textarea ng-model="message" cols="40" rows="10"></textarea></p>
	
	<p ng-show="message.length===100">Note is full</p>
	
	<p>
		<button ng-click="save()">save</button>
		<button ng-click="clear()">clear</button>	
	</p>
	

	
	<p>Number of characters left: <span ng-bind="left()"></span></p>  
  </div>
  
  <script src="../js/myNoteApp.js"></script>
  <script src="../js/myNoteCtrl.js"></script>
  </body>
</html>
